Repository missgemma415/work-payroll-project: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx}": ["prettier --write"],
  "*.{json,md,mdx,css,html,yml,yaml,scss}": ["prettier --write"]
}

feat: add automated git workflow tools and code review hooks
  .husky/post-commit
  docs/GIT-WORKFLOW.md
  package.json
  scripts/git-sync.sh
Due: prettier --write

fix: remove unused ts-expect-error directive
  tailwind.config.ts
Due: eslint --fix, prettier --write

fix: update husky hooks to v10 format
  .husky/post-commit
  .husky/pre-push
Due: none

feat: add git aliases for streamlined workflow
  .gitaliases
Due: none

feat: implement JWT authentication system
  .env.local.example
  CRITICAL_FIXES_REQUIRED.md
  ProjectContextEngineering.md
  ProjectTasks.md
  app/api/auth/login/route.ts
  app/api/auth/logout/route.ts
  app/api/auth/me/route.ts
  app/api/auth/refresh/route.ts
  app/api/auth/register/route.ts
  app/api/kudos/[id]/like/route.ts
  app/api/kudos/route.ts
  app/api/moods/route.ts
  app/api/priorities/[id]/route.ts
  app/api/priorities/route.ts
  app/api/team-pulse/route.ts
  app/auth-demo/page.tsx
  app/layout.tsx
  components/dashboard/MoodCheckIn.tsx
  components/ui/use-toast.tsx
  index.html
  lib/api-response.ts
  lib/auth/jwt.ts
  lib/auth/middleware.ts
  lib/auth/store.ts
  lib/context/app-context.tsx
  lib/env.ts
  lib/hooks/use-api.ts
  lib/mock-data.ts
  lib/types/api.ts
  lib/types/auth.ts
  lib/types/database.ts
  next.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: resolve all ESLint errors and update documentation
  CLAUDE.md
  ProjectContextEngineering.md
  ProjectTasks.md
  app/api/auth/login/route.ts
  app/api/auth/logout/route.ts
  app/api/auth/me/route.ts
  app/api/auth/refresh/route.ts
  app/api/auth/register/route.ts
  app/api/kudos/[id]/like/route.ts
  app/api/kudos/route.ts
  app/api/moods/route.ts
  app/api/priorities/[id]/route.ts
  app/api/priorities/route.ts
  app/api/team-pulse/route.ts
  app/auth-demo/page.tsx
  app/layout.tsx
  components/dashboard/MoodCheckIn.tsx
  components/ui/use-toast.tsx
  lib/auth/jwt.ts
  lib/auth/middleware.ts
  lib/auth/store.ts
  lib/context/app-context.tsx
  lib/env.ts
  lib/hooks/use-api.ts
  lib/types/auth.ts
  package-lock.json
Due: eslint --fix, prettier --write

feat: implement complete authentication system with JWT
  CRITICAL_FIXES_REQUIRED.md
  app/api/auth/register/route.ts
  app/layout.tsx
  app/login/page.tsx
  app/page.tsx
  app/register/page.tsx
  components/layout/Header.tsx
  components/ui/dropdown-menu.tsx
  components/ui/form.tsx
  components/ui/use-toast.tsx
  lib/api-response.ts
  lib/auth/middleware.ts
  lib/auth/store.ts
  lib/context/app-context.tsx
  lib/context/auth-context.tsx
  lib/hooks/use-auth-guard.ts
  lib/mock-data.ts
  lib/types/api.ts
  lib/types/auth.ts
Due: eslint --fix, prettier --write

chore: configure Cloudflare deployment setup
  functions/api/auth/login.js
  next.config.ts
  package-lock.json
  package.json
  scripts/deploy.sh
  wrangler.toml
Due: eslint --fix, prettier --write

fix: update dynamic route params for Next.js 15 compatibility
  app/api/kudos/[id]/like/route.ts
  app/api/priorities/[id]/route.ts
Due: eslint --fix, prettier --write

fix: resolve Next.js route export errors for static build
  app/api/kudos/[id]/like/route.ts
  app/api/kudos/route.ts
  app/api/priorities/[id]/route.ts
  app/api/priorities/route.ts
  lib/mock-data/kudos.ts
  lib/mock-data/priorities.ts
Due: eslint --fix, prettier --write

feat: pivot to Cloudflare Agents architecture with AI financial intelligence platform
  .env.local.example
  .eslintrc.json
  CLAUDE.md
  ProjectContextEngineering.md
  ProjectTasks.md
  api-routes-backup/auth/login/route.ts
  api-routes-backup/auth/logout/route.ts
  api-routes-backup/auth/me/route.ts
  api-routes-backup/auth/refresh/route.ts
  api-routes-backup/auth/register/route.ts
  api-routes-backup/kudos/[id]/like/route.ts
  api-routes-backup/kudos/route.ts
  api-routes-backup/moods/route.ts
  api-routes-backup/priorities/[id]/route.ts
  api-routes-backup/priorities/route.ts
  api-routes-backup/team-pulse/route.ts
  app/analytics/page.tsx
  components/dashboard/DashboardNav.tsx
  components/dashboard/ai/AIChatInterface.tsx
  functions/api/_middleware.ts
  functions/api/ai/analyze.ts
  functions/api/ai/chat.ts
  functions/api/health.ts
  functions/lib/auth.ts
  functions/lib/gemini.ts
  functions/lib/rateLimit.ts
  lib/agents/base/agent.ts
  lib/agents/financial-analyst-agent.ts
  lib/agents/tools/employee-cost-calculator.ts
  lib/api/ai-client.ts
  lib/context/auth-context.tsx
  lib/gemini/client.ts
  lib/types/agent.ts
  lib/types/employee-cost.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: resolve TypeScript errors in Cloudflare Pages Functions
  functions/api/_middleware.ts
  functions/api/ai/analyze.ts
  functions/api/ai/chat.ts
  functions/api/health.ts
  functions/lib/auth.ts
  functions/lib/gemini.ts
  functions/types.d.ts
  lib/api/ai-client.ts
Due: eslint --fix, prettier --write

feat: implement MCP (Model Context Protocol) infrastructure with Financial Brain Agent
  .claude/agents/mcp-tools-specialist.md
  .claude/agents/typescript-eslint-enforcer.md
  .eslintrc.json
  CLAUDE.md
  ProjectTasks.md
  SESSION_SUMMARY_2025-01-27.md
  app/page.tsx
  components/dashboard/ai/AIChatInterface.tsx
  lib/agents/base/mcp-agent.ts
  lib/agents/cloudflare/financial-brain-agent.ts
  lib/agents/mcp/base-mcp-server.ts
  lib/agents/mcp/client.ts
  lib/agents/mcp/financial-brain-server.ts
  lib/agents/mcp/server.ts
  lib/agents/mcp/transport-handler.ts
  lib/auth/api-middleware.ts
  lib/gemini/client.ts
  lib/hooks/use-mcp-client.ts
  next.config.ts
  package-lock.json
  package.json
  scripts/run-mcp-server.ts
  scripts/test-mcp-connection.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: replace TypeScript ESLint Enforcer with Fullstack Architect agent
  .claude/agents/fullstack-architect.md
  .claude/agents/typescript-eslint-enforcer.md
Due: prettier --write

refactor: remove unnecessary AGENT_TEAM_GUIDE.md documentation
  AGENT_TEAM_GUIDE.md
Due: prettier --write

feat: implement enhanced agent-specific hook system v2.0
  .claude/hooks-config.json
  .claude/scripts/agents/api-integration-context.sh
  .claude/scripts/agents/docs-curator-update.sh
  .claude/scripts/agents/neon-db-context.sh
  .claude/scripts/agents/performance-metrics.sh
  .claude/scripts/agents/security-audit-context.sh
  .claude/scripts/agents/vercel-deploy-context.sh
  .claude/scripts/post-task-update.sh
  .claude/scripts/pre-task-context.sh
  .claude/scripts/validation/neon-db-validate.sh
  .claude/scripts/validation/security-scan.sh
  .claude/scripts/validation/vercel-health-check.sh
  CLAUDE.md
  ProjectContextEngineering.md
  ProjectTasks.md
  README.md
Due: prettier --write

feat: enhance Project Docs Curator with comprehensive pre-context gathering
  .claude/context/docs-context-summary-2025-08-02.md
  .claude/context/git-history-2025-08-02.txt
  .claude/hooks-config.json
  .claude/scripts/agents/docs-curator-pre-context.sh
  .claude/scripts/agents/docs-curator-update.sh
Due: prettier --write

Update documentation to reflect clean MVP payroll platform
  CLAUDE.md
  ProjectContextEngineering.md
  ProjectTasks.md
  migrations/001_postgresql_base_schema.sql
  migrations/002_payroll_postgresql_schema.sql
  setup-db-final.js
Due: prettier --write

Update all documentation and codebase to reflect CEO payroll analysis platform
  .env.local.example
  CLAUDE.md
  ProjectContextEngineering.md
  ProjectTasks.md
  README.md
  app/analytics/page.tsx
  app/api/chat/route.ts
  app/api/employee-costs/route.ts
  app/api/export/excel/route.ts
  app/api/process-files/route.ts
  app/api/scan-files/route.ts
  app/api/voice/route.ts
  app/page.tsx
  lib/gemini/client.ts
  lib/parsers/csv-parser.ts
  neonctl.tar.gz
  run-migrations-simple.js
  scripts/run-migrations.ts
  setup-database.js
  test-db-quick.js
Due: eslint --fix, prettier --write

Fix GitHub repository errors and optimize file management
  .gitattributes
  .gitignore
  ProjectContextEngineering.md
  ProjectTasks.md
  projectcontextengineering.md
  projecttasks.md
Due: prettier --write

Update README with proper Fortune 500 executive dashboard documentation
  README.md
Due: prettier --write

Configure comprehensive MCP server setup for enhanced Claude Code capabilities
  package-lock.json
  package.json
Due: prettier --write

Fix critical database utilities and implement comprehensive Jest testing infrastructure
  .taskmaster/tasks/tasks.json
  jest.config.js
  lib/ai/claude-client.ts
  lib/database.ts
  lib/types/database.ts
  scripts/run-migrations.ts
  tests/setup.ts
Due: eslint --fix, prettier --write

Remove HR-related components and update Jest testing dependencies
  components/dashboard/TodaysPriorities.tsx
  lib/mock-data/kudos.ts
  lib/mock-data/priorities.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Complete MCP server configuration fixes and Context7 integration
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
  .serena/memories/mcp_servers_configuration.md
  .taskmaster/tasks/tasks.json
Due: prettier --write

Implement Tier 1 Neural Time Series Forecasting Infrastructure
  .claude_memory_config.json
  .serena/memories/ui_ux_revamp_analysis.md
  .taskmaster/docs/research/2025-08-28_fastapi-microservice-integration-with-nextjs-appli.md
  .taskmaster/docs/research/2025-08-28_top-python-visualization-libraries-2025-for-execut.md
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  app/page.tsx
  components/ui/FloatingChatButton.tsx
  litellm_config.yaml
  python-backend/main.py
  python-backend/requirements.txt
  python-backend/services/paychex_oauth.py
  setup-llm-gateway.sh
  test-models.py
Due: eslint --fix, prettier --write

feat: Implement neural forecasting & QuickBooks integration infrastructure
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
  .taskmaster/tasks/tasks.json
  app/api/forecasting/route.ts
  app/api/quickbooks/route.ts
  forecasting_service/Dockerfile
  forecasting_service/lightning_logs/version_0/events.out.tfevents.1756383745.Gemmas-MacBook-Pro.local.6848.0
  forecasting_service/lightning_logs/version_0/events.out.tfevents.1756383745.Gemmas-MacBook-Pro.local.6848.1
  forecasting_service/lightning_logs/version_0/hparams.yaml
  forecasting_service/main.py
  forecasting_service/requirements.txt
  forecasting_service/test_forecasting.py
  quickbooks_service/main.py
  quickbooks_service/requirements.txt
  quickbooks_service/schema.sql
Due: eslint --fix, prettier --write

Complete neural forecasting implementation with comprehensive 3-year mock data
  .taskmaster/tasks/tasks.json
  CLAUDE.md
  README.md
  forecasting_service/main.py
  scripts/load_mock_payroll_data.py
Due: prettier --write

Implement interactive executive dashboard with AI-powered analytics
  .eslintrc.json
  app/api/chat/enhanced/route.ts
  app/page.tsx
  components/ui/EnhancedChatInterface.tsx
  components/ui/FloatingChatButton.tsx
  components/ui/ForecastVisualization.tsx
  lib/ai/claude-client.ts
  next.config.js
Due: eslint --fix, prettier --write

fix: Resolve Vercel build issues with lazy database connection
  lib/database.ts
  next.config.js
Due: eslint --fix, prettier --write
